:root {
    --color-primary: #6C38CC;
    --color-bg: #16171D;
    --color-primary-hover: #4816a5;
    --color-bg-medium: #1E1F29;
    --color-bg-light: #2E2D3D;
    --color-text: #FAFAFA;
    --color-link-hover: #AFB2BF;
    --color-stroke: #4D5064;
    --color-button: #6C38CC;
    --gradient:linear-gradient(158deg, #D77BE5 0%, #BE63E5 34.69%, #6C38CC 100%);
    --color-footer: #101114;
    --color-pink: #E47AD5;

    --border-8: 8px;
    --border-10: 10px;

}

* {
    box-sizing: border-box;
}

body {
    background: var(--color-bg);
    margin: 0;
     color: var(--color-text);
     font-family: Fira Sans, sans-serif;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 120%;
 
}

a {
    text-decoration: none;
}

h1 {
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 54px */
}

span {
    background: var(--grad-1, linear-gradient(158deg, #D77BE5 0%, #BE63E5 34.69%, #6C38CC 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


@media (max-width: 960px) { 
    .hero__wrapper {
        display: flex;
        flex-direction: column;
        padding: 2em;
    }
    h1 {
        font-size: 2em;

    }
    .hero__img {
        width: 312px;
        height: 176px;
        
    }
    .button__active {
        color: var(--color-text);
       padding: 16px 32px;
       align-items: flex-start;
       gap: 10px;
       background-color: var( --color-button);
       border-radius: var(--border-10);
       border: none;
       font-size: 18px;
       font-style: normal;
       font-weight: 400;
       
       }
       
       .button {
       
           padding: 8px px;
         
           
           }
}