.hero {
    max-width: var(--layout-width);
    padding: 20px 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 32px
}

.hero__h1 {
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 54px */
    }
    
    .hero__h1-gradient {
        background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    .hero__cta {
        display: flex;
        gap: 32px;

    }