.hero {
    max-width: var(--layout-width);
    padding: 20px 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 32px
}

.hero__h1 {
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 54px */
}

.hero__h1-gradient {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__cta {
    display: flex;
    gap: 32px;

}

.blog {
    margin-bottom: 32px;
}

.blog__wrapper {
    max-width: var(--layout-width);
    padding: 60px 24px 100px;
    margin: 0 auto;
    align-items: center;
}


.blog__h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 21.6px */
    color: var(--color-pink);
}

.blog__h2 {
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 55.2px */
}

.blog__h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 0;
    /* 28.8px */
}

.blog__p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 742px;
    ;
    margin-bottom: 32px;
}

.post__p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    width: 742px;
    ;
    margin-bottom: 32px;
}

.blog__post {
    display: flex;
    justify-content: space-between;

}


.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    color: var(--color-link-hover);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 19.2px */
}

.blog__post {
    border-radius: 10px;
    background: var(--color-bg-light);

}

.post {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: var(--color-bg-light);
}

.post_button {
    display: block;
}

.card_32 {
    padding: 32px;
}


.button__more {
    text-align: center;

}

@media (max-width: 860px) {
    .post {
        flex-direction: column;
        justify-self: center;
    }

    .blog__h2 {
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        /* 40.8px */
    }

    .blog__h4 {
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 25.2px */
    }
}

@media (max-width: 1200px) {
    .hero {
        flex-direction: column;
    }

    .courses__wrapper {
        grid-template-columns: repeat(2, 1fr)
    }

    .hero__cta {
        justify-content: center;
    }

    .hero__h1 {
        text-align: center;
    }
    .trust__platform {
        grid-template-columns: [start] repeat(2, 1fr) [end];

    }
  
}

@media (max-width: 640px) {

    .hero__h1 {
        font-size: 30px;
        line-height: 120%;
        /* 36px */
    }

    .courses__wrapper {
        grid-template-columns: 1fr;
    }

    .hero__right {
        width: 100%;
    }
   .trust__platform {
		grid-template-columns: [start] 1fr [end];
	}

}

@media (max-width: 480px) {
    .hero {
        padding: 0 24px;
    }

    .button {
        padding: 12px 32px;
    }

    .hero__cta {
        gap: 16px;
    }

}

.chip__wrapper {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    overflow: scroll;
    margin-right: -24px;
    margin-left: -24px;
    padding-left: 24px;
}

.chip__wrapper::-webkit-scrollbar {
    display: none;
}

.card_content {
    margin-left: 24px;
}

.trust__wrapper {
    max-width: var(--layout-width);
    padding: 60px 24px 100px;
    margin: 0 auto;
    align-items: center;
}

.trust__statistic {
    display: grid;
	grid-template-columns: [start] repeat(3, 1fr) [end];
	gap: 0 75px;
}

.trust__h3 {
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 55.2px */
    background: var(--grad-1, linear-gradient(158deg, #D77BE5 0%, #BE63E5 34.69%, #6C38CC 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.trust__p {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 21.6px */
}

.trust__content {

    width: 360px;
    height: 188px;
    flex-shrink: 0;
    background-color: var(--color-bg-light);
    border-radius: var(--border-10);
    padding: 48px 24px;
}

.section__trust {
    background-color: var(--color-bg-medium);
}

.trust__rate {
    display: grid;
	grid-template-columns: [start] repeat(3, 1fr) [end];
	gap: 0 75px;
}

.trust__rating_content {
    display: flex;
    flex-direction: row;
    width: 360px;
    height: 113px;

    background-color: var(--color-bg-light);
    border-radius: var(--border-10);
}

.rating_number {
    text-align: left;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 64.8px */
    color: var(--color-text);
    padding: 24px 36px;
}

.schools {
    display: flex;
    flex-direction: column;
    width: 113.505px;

    align-items: right;
    padding-left: 12px;
    padding-top: 36px;
}

.trust__h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 43.2px */
    padding-top: 72px;
}


